<html> 
<head> 

<style> 

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	padding: 10px;
	color: black;
}	

</style>
</head>

<body>
MERCH INVENTORY - last updated at (reinsert ruby when the time comes) <br> <br>
<table> 
<th>Item</th> 
<th>Size</th> 
<th>Stock</th> 
<th>Updates</th>

<% @items_list.each do |item| 
	if item.is_active %>
<tr> 
<td><%= item.item_name  %> </td>
<td><%= item.size %> </td> 
<td><%= item.current_stock %> </td>
<td><a href = <%= "#{item.item_url}/view_updates#" %>
<td><a href = <%= "#{item.item_url}/update_stock" %>> Update Stock </a></td>
<td><a href = <%= "#{item.item_url}/show_edit"%>> Edit Item </a></td>
</tr>
<% end end %> 

</table>
<br> 

<%= 'Link to Update Stocks?' %> 

<form action = "/inventory" method = "post"> 

ADD NEW ITEM<br> 
Item Name <br> 
<input type = "text" name = "item_name"> 
<br> 

Size <br> 
<input type = "text" name = "size">
<br> 

Price <br> 
<input type = "number" step = "0.01" min = "0" name ="price"> 
<br> 

<input type = "submit"> 

</form> 

<br> 
<a href = '/deactivated'> Deactivated Items </a>  



</body>
</html>

