<html> 
<head> 

<style> 

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	padding: 10px;
	color: black;
}	

</style>
</head>
<body>
UPDATE STOCK for item "<%= @item.size %> <%= @item.item_name %>"
<br> <br> 
Current Stock 
<table> 
<tr> 
<td> <%= @item.current_stock[:stock] %> </td> 
</tr> 
</table>
<br>

<form action = <%= "#{@item.item_url}/update_stock" %> method = "post"> 
New Stock <br>
<input type = "integer" name = "stock">
<br>
<br> 
<u> Select Sizes to Update</u> <br> 
S <input type = radio name = is_small> <br> 
M <input type = radio name = is_medium> <br>
L <input type = radio name = is_large> <br>
XL<input type = radio name = is_xl> <br>
<br> 
Deactivate?
<input type = "radio" name = "deactivate"> 
<br>
<br>

<input type = "submit">
</form>

<br> 
UPDATE HISTORY 
<table> 
<% @item.updates.each do |update| %> 
<tr> 
<td> <%= update.updated_at %> </td>
<td> <%= update.stock_change %> </td>
</tr>
<% end %> 
</table>









</body>
</html>

